<div class="row">
    <div class="col-md-3">Id</div>
    <div class="col-md-5">{{vm.project.Id}}</div>
</div>
<div class="row">
    <div class="col-md-3">Name</div>
    <div class="col-md-5">{{vm.project.Name}}</div>
</div>
<div class="row">
    <div class="col-md-3">CreatedOn</div>
    <div class="col-md-5">{{vm.project.CreatedOn | beautifulDate}}</div>
</div>
<div class="row">
    <div class="col-md-3">Total Users</div>
    <div class="col-md-5">{{vm.project.TotalUsers}}</div>
</div>
<div class="row">
    <div class="col-md-3">License</div>
    <div class="col-md-5">{{vm.project.License}}</div>
</div>